.collaborative {
	// padding-top: 150px;
	// margin-bottom: 150px;
	@include adaptiveValue("margin-bottom", 150, 70);
	// .collaborative__container

	&__container {
	}

	// .collaborative__inner

	&__inner {
	}
}
.inner-collaborative {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 86, 40);
	@media (max-width: 925px){
		flex-wrap: wrap;
		justify-content: center;
	}
	// .inner-collaborative__image-ibg

	&__image-ibg {

		// .inner-collaborative__image-ibg_contain

		&_contain {
		}
	}

	// .inner-collaborative__content

	&__content {
		// margin-top: 19px;
		flex: 0 1 486px;
		@media (max-width: 925px){
			order: 2;
		}
	}

	// .inner-collaborative__span-text

	&__span-text {
	}

	// .inner-collaborative__title

	&__title {
		@extend %h2-title;
	}

	// .inner-collaborative__text

	&__text {
	}
}
.content-block {
}
.span-text {
}
.h2-title {
}
.orange-check {
}
.red-check {
}
.blue-check {
}
