//====================================================================================================
.header {
	.logo__img-2 {
		display: none;
	}
	// position: absolute;
	&._header-scroll {
		.logo__img-1 {
			display: none;
		}
		.logo__img-2 {
			display: block;
		}
		transition: top 2s ease 0s;
		position: fixed;
		top: 0;
		// background-color: rgba($color: #000, $alpha: 0.9);
		background-color: rgba($color: $mainColor, $alpha: 1);
		color: #fff;
		width: 100%;
		z-index: 15;
		.icon-menu {
			span,
			&::before,
			&::after {
				background-color: #fff;
			}
		}
		.menu-header__link {
			&:hover {
				font-weight: 600;
				color: green;
			}
		}
	}
	&._header-show {
		transition: top 3s ease 0s;
		top: -200%;
	}




	margin-bottom: 25px;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		height: 80px;
	}

	// .header__logo

	&__logo {
		flex: 1 0 auto;
	}

	// .header__menu

	&__menu {
	}

	// .header__action

	&__action {
	}
}
.logo-header {

	// .logo-header__link

	&__link {
	}

	// .logo-header__img

	&__img {
	}
}
.menu-header {
	
	// .menu-header__list

	&__list {
		display: flex;
		gap: 32px;
		@media (max-width: 950px){
			 display: none; 
		}
	}

	// .menu-header__item

	&__item {
	}

	// .menu-header__link

	&__link {
		&:hover {
			transition: all 0.5s ease 0s;
			color: #000;
			font-weight: 600;
		}
	}

	// .menu-header__icon

	&__icon {
	}

	// .menu-header__body

	&__body {
	}
}
.action-header {
	display: flex;
	align-items: center;
	gap: 27px;
	margin-left: 27px;
	@media (max-width: 950px){
		display: none; 
  }
	// .action-header__btnSignIn

	&__btnSignIn {
		@extend %btn;
		width: 110px;
		height: 43px;
		background-color: #fff;
		border: 1px solid #BCD0E5;
		color: #173A56;
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba(#000, 0.7);
			color: #fff;
			border-color: transparent;
		}
	}

	// .action-header__btnSignUP

	&__btnSignUP {
		@extend %btn;
		width: 110px;
		height: 43px;
		color:#fff;
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba(#000, 0.7);
		}
	}

	// .action-header__btnSwitchTheme

	&__btnSwitchTheme {
		border-radius: 50%;
		width: 24px;
		height: 24px;
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba($color: grey, $alpha: 0.5);
			font-weight: 600;
		}
		@media (max-width: 950px){
			margin-right: 20px;
		}
	}
}
.menu {
	display: none;
	@media (max-width: 950px){
		display: block;
	}
	
		// .menu__body

		&__body {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba($color: $mainColor, $alpha: 1);
			color: #fff;
			padding: 100px 30px 30px 30px;
			transition: left 0.6s ease 0s;
			overflow: auto;
			text-align: center;
		}

		// .menu__list

		&__list {
			margin-top: 40px;
			li:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		// .menu__item

		&__item {
		}

		// .menu__link

		&__link {
			font-size: 24px;
			&:hover {
				transition: all 0.5s ease 0s;
				color: #fff;
				font-weight: 600;
			}
		}
}

html.menu-open {
	.menu__body {
		left: 0;
	}
	.icon-menu {
		span,
		&::before,
		&::after {
			background-color: grey;
		}
	}
	header._header-show {
		transition: top 5s ease 0s;
		top: 0;
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: 950px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
				}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
			
		}
	}
}

