.management {
	// padding-top: 150px;
	@include adaptiveValue("margin-bottom", 150, 100);
	// margin-bottom: 150px;

		// .management__container

		&__container {
		}

		// .management__inner

		&__inner {
		
		}
}
.inner-management {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 86, 40);
		@media (max-width: 925px){
			flex-wrap: wrap;
			justify-content: center;
		}
		
		// .inner-management__content

		&__content {
			flex: 0 1 486px;
			@media (max-width: 925px){
				order: 2;
			}
		}

		// .inner-management__span-text

		&__span-text {
			
		}

		// .inner-management__title

		&__title {
			@extend %h2-title;
		}

		// .inner-management__text

		&__text {
			
		}

		// .inner-management__sub-title

		&__sub-title {
		}

		// .inner-management__image-ibg

		&__image-ibg {
			// .inner-management__image-ibg_contain

			&_contain {
				@media (max-width: 925px){
					margin-bottom: 50px;
				}
			}
		}
}

