.preview {
	// padding-top: 25px;
	@include adaptiveValue("margin-bottom", 115, 100);
	// margin-bottom: 115px;
	// .preview__container

	&__container {
	}

	// .preview__inner

	&__inner {
		
	}
}
.inner-preview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 925px){
		flex-wrap: wrap;
		justify-content: center;
	}

	// .inner-preview__content

	&__content {
		flex: 0 1 439px;
		// @include adaptiveValue("margin-top", 136, 5);
		margin-left: 14px;
		@media (max-width: 925px){
			order: 2;
			text-align: center;
			margin: 0;
		}
	}

	// .inner-preview__title

	&__title {
		@extend %h1-title;
		margin-bottom: 29px;
		@include adaptiveValue("font-size", 40, 29);
		@include adaptiveValue("line-height", 60, 50);
	}

	// .inner-preview__text

	&__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		color: $mainColor;
		margin-bottom: 59px;
		@include adaptiveValue("font-size", 18, 15);
		@include adaptiveValue("margin-bottom", 59, 20);
	}

	// .inner-preview__links

	&__links {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 28);
		@media (max-width: 925px){
			justify-content: center;
		}
		@media (max-width: 405px){
			flex-wrap: wrap;
		}
	}
	
	//.inner-preview__link-btn

	&__link-btn {
		@extend %btn-link;
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba(#000, 0.7);
		}
	}

	// .inner-preview__link

	&__link {
		color: $btnColor;
		&::before {
			@extend %ic;
			display: inline-block;
			margin-right: 9px;
			color: $btnColor;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	// .inner-preview__image-ibg

	&__image-ibg_contain {
		@media (max-width: 925px){
			margin-bottom: 25px;
		}
	}

	// ._icon-arrow-play

	&_icon-arrow-play {
	}
}



