.product-values {
	background-image: url('../img/product/Bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 100% 100%;
	padding-top: 115px;
	// .product-values__container

	&__container {
		text-align: center;
	}

	// .product-values__title

	&__title {
		@extend %h2-title;
		margin-bottom: 79px;
	}

	// .product-values__body

	&__body {
		margin-bottom: 37px;
	}

	// .product-values__btn

	&__btn {
		@extend %btn-link;
		display: inline-block;
		margin-bottom: 90px;
	}
}

.body {
	
	// .body__product-values

	&__product-values {
		display: flex;
		gap: 80px;
		text-align: start;
	}

	// .body__product-item

	&__product-item {
		flex: 0 1 33.333%;
	}

	// .body__item-image

	&__item-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 19px;
		color: #fff;
		margin-bottom: 30px;
	}

	// .body__item-title

	&__item-title {
		margin-bottom: 13px;
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: $mainColor;
	}

	// .body__item-text

	&__item-text {
		line-height: 26px;
	}
}

	// ._icon-cursor

._icon-cursor {
	background-color: $btnColor;
}

	// ._icon-curve

._icon-curve {
	background-color: #4D8DFF;
}

	// ._icon-heart

._icon-heart {
	background-color: #740A76;
}

	// ._icon-sandglass

._icon-sandglass {
	background-color: #F03E3D;
}



