.product-values {
	@include adaptiveValue("margin-bottom", 115, 100);
	background-image: url('../img/product/Bg-product.png');
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 100% 100%;
	@media (max-width: 1200px){
		background-size: 150% 100%;
	}
	@media (max-width: 925px){
		background-size: 200% 100%;
	}
	@media (max-width: 505px){
		background-size: 400% 100%;
	}
	// .product-values__container

	&__container {
		text-align: center;
	}

	// .product-values__title

	&__title {
		@extend %h2-title;
		@include adaptiveValue("margin-bottom", 79, 50);
		@include adaptiveValue("font-size", 40, 29);
		@include adaptiveValue("line-height", 60, 50);
	}

	// .product-values__body

	&__body {
		margin-bottom: 37px;
		@media (max-width: 925px){
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// .product-values__btn

	&__btn {
		@extend %btn-link;
		display: inline-block;
		@include adaptiveValue("margin-bottom", 90, 38);
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba(#000, 0.7);
		}
	}
}

.body-product {
	display: flex;
	gap: 80px;
	text-align: start;
	@media (max-width: 505px){
		display: block;
	}
	@include adaptiveValue("margin-bottom", 37, 32);
	&__item {
		flex: 0 1 33.333%;
		@media (max-width: 925px){
			text-align: center;
		}
		@media (max-width: 505px){
			margin: 0 auto;
			max-width: 240px;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	&__item-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 19px;
		color: #fff;
		margin-bottom: 30px;
		@media (max-width: 925px){
			margin: 0 auto;
			margin-bottom: 24px;
		}
	}
	&__item-title {
		margin-bottom: 13px;
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: $mainColor;
	}
	&__item-text {
		line-height: 26px;
	}
}
	// ._icon-cursor

._icon-cursor {
	background-color: $btnColor;
}

	// ._icon-curve

._icon-curve {
	background-color: #4D8DFF;
}

	// ._icon-heart

._icon-heart {
	background-color: #740A76;
}

	// ._icon-sandglass

._icon-sandglass {
	background-color: #F03E3D;
}



