.staff {
	@include adaptiveValue("margin-bottom", 150, 100);
	padding-top: 52px;
	background-image: url('../img/staff/Bg-staff.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 100% 100%;
	@media (max-width: 1200px){
		background-size: 150% 100%;
	}
	@media (max-width: 925px){
		background-size: 200% 100%;
	}
	@media (max-width: 505px){
		background-size: 400% 100%;
	}
	// .staff__container

	&__container {
		
	}

	// .staff__header

	&__header {
	}

	// .staff__skills

	&__skills {
	}

	// .staff__btn

	&__btn {
		text-align: center;
	}

	// .staff__link

	&__link	{
		@extend %btn-link;
		width: 216px;
		padding: 15px 30px;
		display: inline-block;
		&:hover {
			transition: all 0.5s ease 0s;
			background-color: rgba(#000, 0.7);
		}
	}
}
.header-staff {
	text-align: center;
	// .header-staff__title

	&__title {
		@extend %h2-title;
		margin-bottom: 16px;
	}

	// .header-staff__text

	&__text {
		@extend %p-text;
		margin-bottom: 46px;
	}
}
.skills-staff {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 48px;
	@media (max-width: 825px){
		justify-content: center;
		text-align: center;
		gap: 32px;
	}
	//skills-staff__inner-left
	&__inner-left {

	}

	//skills-staff__inner-right
	&__inner-right {

	}

	// .skills-staff__item
	&__item {
		display: flex;
		gap: 16px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		// &:nth-child(4n+3),
		// &:nth-child(4n+4){
		// 	.skills-staff__text {
		// 		order: 1;
		// 	}
		// }
		&:nth-child(2n+1){
			.skills-staff__text {
				order: 1;
			}
		}
	}

	// .skills-staff__text

	&__text {
		padding: 15px 19px;
		box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
		border-radius: 26.5px;
		align-self: center;
		@include adaptiveValue("font-size", 16, 14);
	}

	// .skills-staff__img

	&__img {
		
	}
	&__picture {
		object-fit: cover;
		border-radius: 50%;
	}
}




