.staff {
	margin-bottom: 150px;
	padding-top: 52px;
	background-image: url('../img/staff/Bg-staff.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 100% 100%;
	// .staff__container

	&__container {
		
	}

	// .staff__header

	&__header {
	}

	// .staff__skills

	&__skills {
	}

	// .staff__btn

	&__btn {
		text-align: center;
	}

	// .staff__link

	&__link	{
		@extend %btn-link;
		width: 216px;
		padding: 15px 30px;
	}
}
.header-staff {
	text-align: center;
	// .header-staff__title

	&__title {
		@extend %h2-title;
		margin-bottom: 16px;
	}

	// .header-staff__text

	&__text {
		@extend %p-text;
		margin-bottom: 46px;
	}
}
.skills-staff {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 48px;

	// .skills-staff__item
	&__item {
		display: flex;
		gap: 16px;
		margin-bottom: 24px;
		&:nth-child(4n+3),
		&:nth-child(4n+4){
			.skills-staff__text {
				order: 1;
			}
		}
		&:nth-last-child(1),
		&:nth-last-child(2) {
			margin: 0;
		}
	}

	// .skills-staff__text

	&__text {
		padding: 15px 24px;
		box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
		border-radius: 26.5px;
		align-self: center;
	}

	// .skills-staff__img

	&__img {
		
	}
	&__picture {
		object-fit: cover;
		border-radius: 50%;
	}
}


