.support {
	padding-top: 150px;

	// .support__container

	&__container {
	}

	// .support__inner

	&__inner {
	}
}
.inner-support {
	display: flex;
	justify-content: space-between;
	// .inner-support__image-ibg

	&__image-ibg {

		// .inner-support__image-ibg_contain

	&_contain {
	}
	}

	// .inner-support__content

	&__content {
		margin-top: 36px;
		flex: 0 0 486px;
	}

	// .inner-support__span-text

	&__span-text {
	}

	// .inner-support__title

	&__title {
	}

	// .inner-support__text

	&__text {
		position: relative;
		padding-left: 65px;
		&:nth-child(3) {
			padding: 0;
		}
	}

	// .inner-support__sub-title

	&__sub-title {
	}
}
.orange-check::before {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	top: 8px;
	left: 0;
	background: url(../img/icons/orange-check.svg) no-repeat 0 0/cover;
}
.red-check::before {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	top: 8px;
	left: 0;
	background: url(../img/icons/red-check.svg) no-repeat 0 0/cover;
}
.blue-check::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 35px;
	height: 35px;
	background: url(../img/icons/blue-check.svg) no-repeat 0 0/cover;
}



